#End {
  position: relative;
  border-top: rgb(253, 190, 190) solid 53px;
  border-right: rgb(196, 255, 204) solid 53px;
  border-bottom: rgb(255, 247, 173) solid 53px;
  border-left: rgb(188, 192, 255) solid 53px;
}
.End > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.red,
.blue,
.green,
.yellow {
  border-radius: 50%;
}
.End .up {
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  bottom: 10px;
  right: -20px;
}
.End .down {
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  top: 10px;
  right: -20px;
}
.End .right {
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  left: 10px;
  bottom: -20px;
}
.End .left {
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  right: 10px;
  bottom: -20px;
}
.blue {
  background-color: blue;
}
