.Board {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  position: relative;
}
.Board > div {
  border: grey solid 1px;
}
.Board .i0 {
  background-color: rgb(188, 192, 255);
  grid-column: 1/7;
  grid-row: 1/7;
}
.Board .i1 {
  background-color: rgb(253, 190, 190);
  grid-column: 10/16;
  grid-row: 1/7;
}
.Board .i2 {
  background-color: rgb(255, 247, 173);
  grid-column: 1/7;
  grid-row: 10/16;
}
.Board .i3 {
  background-color: rgb(196, 255, 204);
  grid-column: 10/16;
  grid-row: 10/16;
}
.Board .i4 {
  grid-column: 7/10;
  grid-row: 7/10;
}
